@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&display=swap');

/*body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-image: url(img/fondo_img.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
}*/
body, html{
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

#video-container, #image-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#background-video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}


.navbar {
    background: rgb(0, 0, 0) !important;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7035189075630253) 30%) !important;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;  
}

.navbar-brand {
    width: 40%;
    height: 100%;
    display: flex;
}

.navbar-brand img{
    width: 210px; 
    height: auto;
    
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.barra_de_navegacion {
    z-index: 10;
}

.barra_de_navegacion ul li {
    margin: 0 10px;
}

.barra_de_navegacion ul li a {
    color: rgb(177, 177, 177);
    font-family: 'Caesar Dressing', cursive;
    font-size: 18px;
}

#item:hover {
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 2px rgb(255, 136, 0), 0 0 1em rgb(250, 13, 13), 0 0 0.2em red;
}

.dropdown-menu {
    border: none;
}

.dropdown-item {
    color: rgb(177, 177, 177) !important;
}

.dropdown-item:hover {
    color: rgb(0, 0, 0) !important;
}

.dropdown-item {
    background-color: rgba(0, 0, 0, 0) !important;
}




/*.fondo {
    position: fixed;
    position: absolute;
    z-index: -100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

}

.fondo video {
    position: fixed;
    position: relative;
    top: 50%;
    left: 50%;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
}*/




.contenedor2 {
    width: 100%;
    /*height: calc(62vh - 10vh);*/
    height: calc(100% - 20%);
    display: flex;
    justify-content: center;
    align-items: center;
}


.card {
    background-color: rgba(255, 255, 255, 0);
    border: none;

}

.card-body {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}


.card-body iframe {
    -webkit-box-shadow: 0px 2px 27px 0px rgb(0, 0, 0);
    -moz-box-shadow: 0px 2px 27px 0px rgb(0, 0, 0);
    box-shadow: 0px 2px 27px 0px rgb(7, 7, 7);
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    right: -0.1%;
    top: -5%;
}

.card-body iframe:hover {
    -webkit-box-shadow: 2px 0px 70px 15px rgb(245, 72, 3);
    -moz-box-shadow: 2px 0px 70px 15px rgba(245, 72, 3, );
    box-shadow: 2px 0px 70px 15px rgba(245, 72, 3, );
    transition: 0.5s;
    letter-spacing: 0.25em;
}

